@import 'assets/css/variables';
@import 'assets/css/mixins';

.infoBlock {
    box-shadow: $primary-shadow;
    background-color: white;
    padding: 0.5em 1.5em 0.75em;
    border-radius: 1vw;
    text-align: center;

    h2 {
        margin-bottom: 0.75em;
    }

    .playerInfo {
        @include flex(column, left, center);
        @include player-name(1.75rem);
        width: 100%;

        .playerPoints {
            font-size: 3rem;
        }
    }
}
