@import 'assets/css/variables';
@import 'assets/css/mixins';

.playerCard {
    @include flex(column, space-between, center);
    position: relative;
    padding: 1em 0.625em 0.5em;
    border-radius: 1vw;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: $secondary-shadow;
        transform: scale(1.1);
    }

    .playerInfo {
        p {
            @include font(0.875rem, 500);
            @include player-name(0.875, 600);
            white-space: nowrap;
            text-align: center;
        }
    }
}
