@keyframes show-element {
    from {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes floating {
    from {
        transform: translateY(-0.5rem) rotate(-20deg);
    }
    to {
        transform: translateY(0.5rem) rotate(20deg);
    }
}
