// SHADOWS
$primary-shadow: 0 0.25rem 0.25rem rgba(0 0 0 / 25%);
$secondary-shadow: 0 0.125rem 0.125rem rgba(0 0 0 / 25%);

// COLORS
$purple: #7560a8;
$pink: #ef4d77;
$light-gray: #dcdcdc;
$light-blue: #8ab6e2;
$green: #36de00;
$yellow: #ebf202;
$red: #f12323;

// RESOLUTIONS
$desktop: 1920px;
$laptop-large: 1440px;
$laptop: 1024px;
$tablet: 768px;
