@import 'assets/css/mixins.scss';

.quizPage {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/background.jpg');
    background-size: 50%;
    background-repeat: repeat;

    .container {
        width: 90%;
        margin: auto;
        padding-top: 1em;

        .infoBlockQuestionBoard {
            @include flex(row, space-between);
            margin-top: 1em;
        }
    }
}
