@import 'assets/css/variables';
@import 'assets/css/mixins';

.playerListWrapper {
    box-shadow: $primary-shadow;
    background-color: white;
    padding: 0.5em 1.5em 0.75em;
    border-radius: 1vw;

    .playerList {
        @include flex;
        gap: 0.75em;
        width: 100%;
        padding: 0 0.5em 0.625em 0.5em;
        overflow: auto;

        // padding-bottom: calc(1em + 0.375rem);
        // overflow: hidden;
        // transition: overflow 0.5s;

        // &:hover {
        //     padding-bottom: 1em;
        //     overflow: auto;
        // }

        &::-webkit-scrollbar {
            height: 0.25rem;
        }

        &::-webkit-scrollbar-track {
            background-color: $light-gray;
            margin-inline: 22em;
            border-radius: 0.5em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $purple;
            border-radius: 0.5em;
        }
    }
}
