@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
@import 'assets/css/variables';
@import 'assets/css/mixins';

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overscroll-behavior: none;
}

@media screen and (max-width: $desktop) {
    html {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: $laptop-large) {
    html {
        font-size: 1rem;
    }
}

@media screen and (max-width: $laptop) {
    html {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: $tablet) {
    html {
        font-size: 0.75rem;
    }
}
